#field-test {
    font-family: $font2;
    position: relative;
    .disp {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

        .display-card {
            margin: 2.7rem;
            width: 13rem;
            height: auto;
            border: 1px solid $color-p2;
            border-radius: 0.5rem;

            .disp-reading {
                width: 100%;
                text-align: center;
                color: $color-p2;
                transform: translateY(-80%);
                padding: 0.5rem;
            }
            
            .btn-success{
                background-color: $color-p2;
                color: #272727;
            }


            .data-show {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 1rem;
                margin-top: 0;
                .sens-status {
                    position: relative;
                    top: -1rem;
                    width: 90%;
                    background-color: $color-p2;
                    border-radius: 0.1rem;
                    color: #272727;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 0.5rem;
                }

                .data-controls{
                    display: flex;
                    justify-content: center;
                    align-items: baseline;

                    .mybtn{
                        margin: 1rem;
                    }
                }

                /* The switch - the box around the slider */
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                }

                /* Hide default HTML checkbox */
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #f74949;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: #272727;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: $color-p2;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #2196f3;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
    }
    h2 {
        color: $color-p2;

        &::after {
            position: absolute;
            content: "";
            height: 1px;
            background-color: $color-p2;
            width: 50%;
            margin-left: 15px;
            top: 50%;
        }
    }
}
