<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/styles/dashboard.css">

<div id="back">
  <a href="/dashboard"><i class="fa fa-arrow-left"></i><span>Back</span></a>
</div>

<main class="site-wrapper">
  <div class="pt-table desktop-768">
      <div class="pt-tablecell page-home relative" style="background-image: url('/images/hero-bg.jpg');
      background-position: center;
      background-size: cover;">
      <div class="overlay"></div>
      <section id="field-test">
        <div class="container">
          <div class="disp row">
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Data </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="">Reading</span> %</div>
                    <div class="lin"></div>
                    <div class="data-controls">
                      <label class="switch mybtn">
                      <input type="checkbox">
                      <span class="slider"></span>
                      </label>
                      <button class="btn btn-success mybtn">Pick</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Data </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="">Reading</span> %</div>
                    <div class="lin"></div>
                    <div class="data-controls">
                      <label class="switch mybtn">
                      <input type="checkbox">
                      <span class="slider"></span>
                      </label>
                      <button class="btn btn-success mybtn">Pick</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Data </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="">Reading</span> %</div>
                    <div class="lin"></div>
                    <div class="data-controls">
                      <label class="switch mybtn">
                      <input type="checkbox">
                      <span class="slider"></span>
                      </label>
                      <button class="btn btn-success mybtn">Pick</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="disp row">
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Data </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="">Reading</span> %</div>
                    <div class="lin"></div>
                    <div class="data-controls">
                      <label class="switch mybtn">
                      <input type="checkbox">
                      <span class="slider"></span>
                      </label>
                      <button class="btn btn-success mybtn">Pick</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Data </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="">Reading</span> %</div>
                    <div class="lin"></div>
                    <div class="data-controls">
                      <label class="switch mybtn">
                      <input type="checkbox">
                      <span class="slider"></span>
                      </label>
                      <button class="btn btn-success mybtn">Pick</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></script>