<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/styles/dashboard.css">

<div id="back">
  <a href="/dashboard"><i class="fa fa-arrow-left"></i><span>Back</span></a>
</div>

<main class="site-wrapper">
  <div class="pt-table desktop-768">
      <div class="pt-tablecell page-home relative" style="background-image: url('/images/hero-bg.jpg');
      background-position: center;
      background-size: cover;">
      <div class="overlay"></div>
      <section id="field-test">
        <div class="container">
          <div class="disp row">
            <div class="display-card">
                <div class="disp-reading">
                  <h5>pH </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="text1">...</span></div>
                    <div class="lin"></div>
                    <div class="data-controls">
                        <input type="text" name="Price" class="form-control" id="inp1">  
                        <button class="btn btn-success mybtn" id="btn1" onclick="buttonclick(1)">Send</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Soil Moisture </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="text2">...</span></div>
                    <div class="lin"></div>
                    <div class="data-controls">
                        <input type="text" name="Price" class="form-control" id="inp2">  
                        <button class="btn btn-success mybtn" id="btn2" onclick="buttonclick(2)">Send</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Condutivity </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="text3">...</span></div>
                    <div class="lin"></div>
                    <div class="data-controls">
                        <input type="text" name="Price" class="form-control" id="inp3">  
                        <button class="btn btn-success mybtn" id="btn3" onclick="buttonclick(3)">Send</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Temperature </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="text4">...</span></div>
                    <div class="lin"></div>
                    <div class="data-controls">
                        <input type="text" name="Price" class="form-control" id="inp4">  
                        <button class="btn btn-success mybtn" id="btn4" onclick="buttonclick(4)">Send</button>
                    </div>
                </div>
            </div>
            <div class="display-card">
                <div class="disp-reading">
                  <h5>Humidity </h5>
                </div>
                <div class="data-show">
                    <div class="sens-status"><span id="text5">...</span></div>
                    <div class="lin"></div>
                    <div class="data-controls">
                        <input type="text" name="Price" class="form-control" id="inp5">  
                        <button class="btn btn-success mybtn" id="btn5" onclick="buttonclick(5)">Send</button>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></script>
<script src="/javascripts/upvalue.js"></script>